@font-face {
  font-family: "Figtree", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&display=swap') format('truetype');
}

body{
  background-color: #161616;
  font-family: "Figtree", sans-serif;
  color: #ddd;
  padding: 50px ;
}

h1{
  color: #eef;
  text-align: center ;
}